---
 

   - name: Update all packages to the latest version
     apt:
       name: gpg
       state: present  
       update_cache: yes


   - name: Add the HashiCorp GPG key | Verify the key's fingerprint  | Add the official HashiCorp Linux repository. 
     shell: |
      wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg >/dev/null
      gpg --no-default-keyring --keyring /usr/share/keyrings/hashicorp-archive-keyring.gpg --fingerprint
      echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
      
   - name: Install vault
     apt:
       name: vault
       state: present
       update_cache: true


  


