[Unit]
Description=Tomcat - instance

[Service]
Type=forking

User=tomcat
Group=tomcat

WorkingDirectory=/opt/tomcat/

Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64/"
#Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"

Environment="CATALINA_PID=/var/tomcat/run/tomcat.pid"
Environment="CATALINA_HOME=/opt/tomcat/"
Environment="CATALINA_OPTS=-Xms50M -Xmx100M -server -XX:+UseParallelGC"

ExecStart=/opt/tomcat/bin/startup.sh
ExecStop=/opt/tomcat/bin/shutdown.sh

#RestartSec=10
#Restart=always

[Install]
WantedBy=multi-user.target
#Now, we can instantiate a service instance for our foo tomcat instance:


